.gallary-item {
    
    width: 200px;
    height: 200px;
    border: 2px solid rgb(164, 46, 207);
    border-radius: 10%;
    padding: 10px;
    margin: 10px;
    transition: all .3s ease-in-out;
}

.gallary-item:hover {
    width: 210px;
    height: 210px;
    margin: 0;
    background-color: rgba(164, 46, 207, 0.4);
}

.gallary-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dataholder-img {
    border: 2px solid rgb(164, 46, 207);
    border-radius: 5%;
    padding: 8px;
    margin-left: 5px;
    margin-right: 10px;
    transition: all .3s ease-in-out;
    width: 100%;
}

.dataholder-img:hover {
    scale: 1.05;
}
