/* Style the header with a grey background and some padding */
.header {
    overflow: hidden;
    padding: 20px 10px;
  }
  
  /* Style the header links */
  .header a {
    float: left;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    transition: all .3s ease-in-out;
  }
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .logo {
    padding-left: 2%;
  }
  
  /* Change the background color on mouse-over */
  .header a:hover {
    scale: 1.1;
  }
  
  /* Style the active/current link*/
  .header a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  /* Float the link section to the right */
  .header-right {
    float: right;
  }
  
 