.main {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
}

@media screen and (max-width: 500px) {
    .main {
        padding-left: 20px;
    }
}


.h-40 {
    height: 40px;
}

.contact {
    padding-top: 20px;
    font-size: 20px;
    align-items: end;
    margin-left: 70%;
    text-decoration: none;
}


@media screen and (min-width: 600px) and (max-width: 750px) {
    .contact {
        margin-left: 25% !important;
    }
}

@media screen and (min-width: 750px) and (max-width: 950px) {
    .contact {
        margin-left: 40% !important;
    }
}

@media screen and (min-width: 950px) and (max-width: 1450px) {
    .contact {
        margin-left: 60% !important;
    }
}

@media screen and (max-width: 600px) {
    .main-container {
        padding: 3%;
    }

    .main-container-inner {
        margin-bottom: 0;
    }

    .contact {
        margin-left: 10% !important;
    }
}

.underline {
    border-bottom: 2px solid blue;
    font-size: 23px;
    letter-spacing: 2px;
}

.underline:hover {
    color: whitesmoke;
}

.link {
    color: #ccc;
    margin-bottom: 20px;
    margin-left: 0;
    padding-bottom: 10px;
    line-height: 1.5;
    text-decoration: none;
    display: block;
    
}

.button-link {
    color: #ccc;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 0;
    padding-bottom: 10px;
    line-height: 1.5;
    text-decoration: none;
    display: block;
    background: none!important;
    border: none;
    font-size: 18px;
    font-family: Montserrat-Regular;
}

.button-link:hover {
    letter-spacing: 0.7px;
    margin-left: 4px;
}

.link:hover {
    letter-spacing: 0.7px;
    margin-left: 4px;
}
