.main {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
}

@media screen and (max-width: 500px) {
    .main {
        padding-left: 20px;
    }
}


.h-40 {
    height: 40px;
}

.contact {
    padding-top: 20px;
    font-size: 20px;
    align-items: end;
    margin-left: 75%;
    text-decoration: none;
}

@media screen and (max-width: 500px) {
    .main-container {
        padding: 3%;
    }

    .main-container-inner {
        margin-bottom: 0;
    }

    .contact {
        margin-left: 40%;
    }
}

.underline {
    border-bottom: 2px solid blue;
    font-size: 23px;
    letter-spacing: 2px;
}

.underline:hover {
    color: whitesmoke;
}

.link {
    color: #ccc;
    margin-bottom: 20px;
    margin-left: 0;
    padding-bottom: 10px;
    line-height: 1.5;
    text-decoration: none;
    display: block;
    
}

.link:hover {
    letter-spacing: 0.7px;
    margin-left: 4px;
}
