.loading-container {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  min-height: 100vh;
}

.loading-content {
  color: hsl(0, 0%, 28%);
  font-size: 70px !important;
  font-weight: bold !important;
  font-family: monospace;
  letter-spacing: 7px !important;
  cursor: pointer;
  text-transform: uppercase;
}

@media screen and (max-width: 500px) {
  .loading-content {
    font-size: 50px !important;
  }
}

.loading-content {
  padding: 64px;
  background: linear-gradient(
    to right,
    hsl(0, 0%, 30%) 0,
    hsl(275, 95%, 48%) 10%,
    hsl(0, 0%, 30%) 20%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 4s linear;
}

@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 900px;
  }
  100% {
    background-position: 1600px;
  }
}
