

@media screen and (max-width: 500px) {
    .menu {
        width: 100%;
    }

    .menu-wrapper {
        padding-right: 4% !important;
    }
}

.menu-wrapper {
    font-size: 18px;
    position: relative;
    display: block;
    top: -60px;
    padding: 7%;
}


.menu-item {
    color: #ccc;
    margin-bottom: 20px;
    margin-left: 0;
    padding-bottom: 10px;
    line-height: 1.5;
    text-decoration: none;
    display: block;
}

.menu-item :hover {
    scale: 1.07;
    letter-spacing: 0.7px;
    margin-left: 4px;
}

.menu-item-span {
    transition: all .3s ease-in-out;
    display: inline-block;
    position: relative;
}

.menu-item-span:before {
    content: "";
    height: 1px;
    width: 100%;
    background: linear-gradient(270deg,var(--grad-2)0%,var(--grad-1)100%);
    opacity: 1;
    transition: all .3s ease-in-out;
    display: inline-block;
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
}

.menu-item-span:after {
        content: "";
        height: 1px;
        width: 100%;
        background: linear-gradient(270deg,var(--grad-1)0%,var(--grad-2)100%);
        opacity: 0;
        transition: all .3s ease-in-out;
        display: inline-block;
        position: absolute;
        bottom: -2px;
        left: 0;
        right: 0;
    
}


.bottom-link {
    color: #ccc;
    margin-bottom: 20px;
    margin-left: 0;
    padding-bottom: 10px;
    line-height: 1.5;
    text-decoration: none;
    display: inline-block;
    margin-top: 60px;
    margin-right: 30px;
}

.bottom-link :hover {
    scale: 1.07;
    letter-spacing: 0.7px;
    margin-left: 4px;
}

.bottom-link-span {
    transition: all .3s ease-in-out;
    display: inline-block;
    position: relative;
}

.bottom-link-span:before {
    content: "";
    height: 1px;
    width: 100%;
    background: linear-gradient(270deg,var(--grad-2)0%,var(--grad-1)100%);
    opacity: 1;
    transition: all .3s ease-in-out;
    display: inline-block;
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
}

.bottom-link-span:after {
        content: "";
        height: 1px;
        width: 100%;
        background: linear-gradient(270deg,var(--grad-1)0%,var(--grad-2)100%);
        opacity: 0;
        transition: all .3s ease-in-out;
        display: inline-block;
        position: absolute;
        bottom: -2px;
        left: 0;
        right: 0;
    
}